*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #fcfcfa;
    font-family: system-ui;
}

li {
    list-style: none;
}
.todo-form{
    text-align: center;
    padding: 80px 0 50px;
}
.input-text{
    width:300px;
    font-size:20px;
    padding: 12px 20px;

}
.add-button{
    font-size: 20px;
    padding: 12px 20px;
    background: #F06292;
    color: #eee;
}

.list-area{
    display: flex;
    justify-content: space-between;
}
.list-area .area-complete,
.list-area .area-incomplete{
    width: 400px;
}
.list{
    align-items: center;
    background: #fefefe;
    box-shadow: 0px 2px 12px #cecece;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 20px 10px 32px;
    width: 100%;
}
.list:not(:first-child){
    margin-top: 20px;
}
.list-label{
    font-size: 20px;
}

.wrap{
    width: auto;
    height: auto;
    padding: 0 0 50px;
    margin: 0 auto;
}
.list-button{
    font-size: 10px;
    padding: 8px 14px;
}
